.venv/
*/.ipynb_checkpoints/
1-lab/readme.txt
1-lab/Images/ACFPACFsine.png
1-lab/Images/BAfreq.png
1-lab/Images/EEGplot.png
1-lab/Images/EEGpowerspec.png
1-lab/Images/EEGpowerspecDB.png
1-lab/Images/EEGpowerspeclog.png
1-lab/Images/EEGspectrogram.png
1-lab/Images/EEGspectrogramDB.png
1-lab/Images/ERPvisual.png
1-lab/Images/FODdecomp.png
1-lab/Images/FODplot.png
1-lab/Images/FODSTLdecomp.png
1-lab/Images/GLTAdecomp.png
1-lab/Images/GLTAplot.png
1-lab/Images/lineplotsinus.png
1-lab/Images/PDGsinus.png
1-lab/Images/RWplot.png
1-lab/Images/spectrogramsine.png
1-lab/Images/WNplot.png
2-lab/Figures/task_1_plots.png
2-lab/Figures/task_2_plots_1.png
2-lab/Figures/task_2_plots_2.png
2-lab/Figures/task_2_plots_3.png
2-lab/Figures/task_2_plots_4.png
2-lab/Figures/task_3_plots_1.png
2-lab/Figures/task_3_plots_2.png
2-lab/Figures/task_3_plots_3.png
2-lab/Figures/task_3_plots_4.png
